Ejercicios/dtd_exterma/ii-2a-fichero.dtd

<!-- ficha.dtd -->
<!ELEMENT fichero (ficha+)>
<!ELEMENT ficha (nombre, apellido, direccion*, dui?, NIT?, telefono)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
<!ATTLIST nombre edad  CDATA  #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT dui (#PCDATA)>
